h1 {
    text-align:left ;
    color: black;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 90px;
    font-size: 60px;
    border-style: groove;
    border-radius: 10px;
}


.gallery {
    background-color: rgb(46, 42, 37);
    color: rgb(240, 236, 232);
    font-size: 30px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.gallery img {
    background-color: rgb(240, 236, 232);
    float: left;
    width: 750px;
    height: 600px;
    border: 2px solid;
    border-color: #705959;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #42403a;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;

}
.gallery img:hover {
transform: scale(1.03);
}


.image2 {
    background-color: rgb(46, 42, 37);
    display: flex;
    text-align: center;
}
.image2 img {
    background-color: antiquewhite;
    width: 500px;
    height: 190px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    

}
.image2 img:hover {
transform: scale(1.03);
}
.picture3 {
        background-color: antiquewhite;
        
    }
    .picture3 img {
        background-color: rgb(46, 42, 37);
        width: 500px;
        height: 600px;
        border: 2px solid;
        border-color: #705959;
        border-radius: 14px;
        box-shadow: 4px 7px 7px 0px rgb(241, 221, 194);
        cursor: pointer;
        margin: 10px;
        transition: 400ms;
    
    }
    .picture3 img:hover {
    transform: scale(1.03);
    }
    .midd {
        background-color: rgb(46, 42, 37);
    }
    .midd img {
        background-color: rgb(46, 42, 37);
        width: 700px;
        height: 400px;
        border: 2px solid;
        border-color: #705959;
        border-radius: 14px;
        box-shadow: 4px 7px 7px 0px rgb(241, 221, 194);
        cursor: pointer;
        margin: 10px;
        transition: 400ms;
    
    }
    .midd img:hover {
    transform: scale(1.03);
    }

    div.Weather {
        color: rgb(240, 236, 232);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgb(183, 187, 187);
        height: 60px;
    }